html {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
}

.nav {
    margin: 0;
    padding: 0;
    font-family: "montserratregular";
    height: 100%;
    background-color: black;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

li {
    display: inline-block;
    padding: 16px;
    margin: 0;
    font-size: 1.1em;
    background-color: inherit;
    font-family: "montserratregular";
}

.nav1 {
    color: white;
    transition: 0.3s;
    font-size: 1.2em;
}

.nav1:hover{
    cursor: pointer;
    background-color: darkmagenta;
}

.nav2 {
    color: white;
    transition: 0.3s;
    font-size: 1.2em;
}

.nav2:hover{
    cursor: pointer;
    background-color: darkmagenta;
}

.nav3 {
    color: white;
    transition: 0.3s;
    font-size: 1.2em;
}

.nav3:hover{
    cursor: pointer;
    background-color: darkmagenta;
}

.nav4 {
    color: white;
    transition: 0.3s;
    font-size: 1.2em;
}

.nav4:hover{
    cursor: pointer;
    background-color: darkmagenta;
}

.bg {
    height: 100%;
    /* background-image: url("includes/images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
}

.email {
    font-family: 'montserratbold';
    width: 100%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
    color:black;
    margin-bottom: 20px;
}