.search {
    text-align: center;
    display: block;
}

.courseList {
    text-align: center;
    display: block;
}

.searchCourse {
    margin: 20px;
    padding: 6px 4px;
    border: solid rgba(0,0,0,0);
    border-bottom: solid #ebebeb;
    width: 30%;
    font-size: 1.1em;
    transition: 0.3s;
}

.searchCourse:focus {
    border: solid rgba(0,0,0,0);
    border-bottom: solid skyblue;
}

/* .search:focus-within .dropdown-content {
    display: inline-block;
} */

.dropdown-content {
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 30%;
    padding: 10px;
    z-index: 1;
}

.dropdown-content p {
    display: block;
}

.dropdown-content:hover p{
    cursor: pointer;
}

.titleP {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "montserratextrabold";
}