.search {
    text-align: center;
    position: relative;
    display: block;
}
.searchCourse {
    margin: 20px;
    padding: 6px 4px;
    border: solid #ebebeb;
    font-size: 1.05em;
    width: 30%;
    transition: 0.3s;
}
.searchCourse:focus {
    border: solid rgba(0,0,0,0);
    border-bottom: solid skyblue;
}
.search:focus-within .dropdown-content {display: block;}
.dropdown-content {
    display: none;
}
.dropdown-content a {
    display: block;
}