.topsec 
{
    width: 100%;
    height: 300px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.leftsec
{
    width: 80%;
    padding-left: 50px;
    padding-right: 50px;
    background-color: red;
}

.rightsec
{
    width: 20%;
    background-color: yellow;
}

.add-img {
    width: 100%;
}

.add-course {
    position: absolute;
    right: 0;
    width: 30px;
    top: 0px;
    height: 30px;
    pointer-events: auto;
}

.drop-course-item
{
    position: relative;
    pointer-events: none;
}

.course-code {
    position: relative;
    font-family: 'montserratbold';
    font-size: 18px;
}
.course-name {
    position: relative;
    font-family: 'montserratregular';
    font-size: 14px;
}
.lecture {
    position: relative;
    font-family: 'montserratregular';
    font-size: 14px;
}
.section{
    position: relative;
    font-family: 'montserratregular';
    font-size: 14px;
}

.hellotext {
    position: relative;
    margin-left: 40px;
    font-family: 'montserratextrabold';
    color: white;
    font-size: 24px;
}